*.o
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
depcomp
install-sh
missing
sjasm/.deps/
sjasm/.dirstamp
stamp-h1
sjasm/devices.o
sjasm/directives.o
sjasm/io_snapshots.o
sjasm/io_tape.o
sjasm/io_trd.o
sjasm/parser.o
sjasm/reader.o
sjasm/sjasm.o
sjasm/sjio.o
sjasm/support.o
sjasm/tables.o
sjasm/z80.o
sjasmwin32/sjasmplus.res
sjasmplus
Makefile
configure
build/
.kdev4/
