*.o
.deps
sjasmwin32/sjasmplus.res
/sjasmplus*
/*/Makefile*
/build/
/CMakeFiles/sjasmplus.dir/
/.kdev4
/.cache

# ignore files created during deb package build
# Ignore files generated during build
/debian/files
/debian/*.substvars
/debian/*.log
/debian/*.debhelper
/debian/*-stamp
/debian/sjasmplus/
